
* {
    color : white
}

body {
    overflow-x: hidden;
}

input {
    outline: none;
}

.search {
    width: 25em;
}

button {
    background-color: #B5A1E3;
    border:none;
}

.left {
    width: 20em;
}

.right {
    width: 55em;
}